
////////////////////////////////////////////////////////////////////////////////
//
// How to use the RES Protocol in VB
// by Andreas Schwarz
//
////////////////////////////////////////////////////////////////////////////////
//
// The Resource File contains all Pages and Graphics.
//
////////////////////////////////////////////////////////////////////////////////
//
// name     id      filename
// description:
// name = the name on which the file will displayed , like RES://myexe.exe/page.htm
// id   = the resource id , must be greater then 255, most 2110
// filename = the filename , contain the full path or the current directory will be used
//
////////////////////////////////////////////////////////////////////////////////


page.htm       2110 "page.htm"
logo.GIF       2110 "logo.gif"
