<configuration>
  <appSettings>
    <add key="EchoServiceLocation" value="http://staff.develop.com/aarons/dotnet/echo.asmx" />
    <add key="UddiServerLocation" value="http://test.uddi.microsoft.com/inquire" />
    <add key="EchoServiceUddiBindingKey" value="c4e334ff-5e16-471a-9886-5e4c8fd29025" />
  </appSettings>
</configuration>