<configuration>
    <system.web>
        <webServices>
            <protocols>
                <remove name="HttpGet" />
                <remove name="HttpPost" />
                <remove name="Documentation" />
            </protocols>
        </webServices>
    </system.web>
</configuration>